{% extends 'pages/base.html' %} {% load static %} {% block page_content %}
<link rel="stylesheet" href="{% static 'css/calendarStyle.css' %}">
<body class="bg-cream text-roboto">
    <div class="d-flex justify-content-center">
        <h1 class="center-text" id="text-portfolio">EVENTS</h1>
    </div>
    <div class="padding-jadwal">
        <form method="post">
            {% csrf_token %}
            <table class="form form-table">
            {{ form }}
            <tr><td colspan="2">
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn-jadwal btn-info"> Submit </button>
            </div></td></tr>
            </table>
        </form>
    </div>
</body>
{% endblock %}