{% extends 'pages/base.html' %} {% load static %} {% block page_content %}
<link rel="stylesheet" href="{% static 'css/calendarStyle.css' %}">
<body class="bg-cream text-roboto">
    <div class="d-flex justify-content-center">
        <h1 class="center-text" id="text-portfolio">SCHEDULE</h1>
    </div>
    <div class="padding-jadwal">
        <div class="d-flex justify-content-between">
            <a class="btn-jadwal btn-info" href="{% url 'jadwal:jadwal' %}?{{ prev_month }}"> Previous Month </a>
            <a class="btn-jadwal btn-info" href="{% url 'jadwal:event_new' %}"> New Event </a>
            <a class="btn-jadwal btn-info" href="{% url 'jadwal:jadwal' %}?{{ next_month }}"> Next Month </a>
        </div>
        {{ calendar }}
    </div>
</body>
{% endblock %}