.bg-cream {
    background-color: #D9D3B4;
}

.btn-jadwal {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background: #D9D3B4;
    margin: 10px;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #235459;
    overflow: hidden;
    position: relative;
    padding: .375rem .75rem;
    border: 1px solid #235459;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-jadwal:hover {
    color: #D9D3B4;
    background-color: #235459;
}

.calendar {
font-size: 13px;
color: #235459;
}

.calendar tr, .calendar td {
border: 1px solid #235459;
}

.calendar th {
padding: 10px;
font-family: 'Roboto', sans-serif;
text-align: center;
font-size: 18px;
}

.calendar td {
width: 200px;
height: 150px;
padding: 20px 0px 0px 5px;
}

.month {
font-size: 25px;
}

.date {
font-size: 16px;
}

.form {
margin: auto;
}

.form input, .form select, .form textarea {
border-radius: 5px;
border: 1px solid #17a2b8;
outline: none;
background: none;
padding: 5px;
width: 100%;
}

.padding-jadwal {
padding: 5vw 5vw;
}

.text-roboto {
font-family: 'Roboto', sans-serif;
}

ul {
height: 100%;
padding: 0px 5px 0px 20px;
}

a {
color: #17a2b8;
}