#body-index {
    background-color: #235459;
}

#body-portfolio {
    background-color: #D9C043;
}

#body-tb {
    background-image: url("/static/assets/temanbelajarbg.jpg");
    background-repeat: no-repeat;
    background-color: #D9D3B4;
    background-size: contain;
}

#bottom-color {
    background-color: #8C8874;
}

#bottom-margin {
    padding-top: 10px;
    padding-bottom: 10px;
}

#resume-margin {
    margin-bottom: 4rem;
    margin-left: 15rem;
    margin-right: 15rem;
}

#text-index {
    color: #D9C043;
}

#text-portfolio {
    color: #235459;
}

#text-btn-portfolio {
    font-family: 'Roboto', sans-serif;
}

#bold-text {
    font-weight: bold;
}

.bg-cream {
    background-color: #D9D3B4;
}

.bg-light {
    background-color: transparent!important;
}

.big-text {
    font-size: 3.5em;
}

.btn {
    display: inline-block;
    width: 55px;
    height: 55px;
    background: #D9D3B4;
    margin: 10px;
    border-radius: 50%;
    box-shadow: 0 5px 15px -5px #00000070;
    color: #235459;
    overflow: hidden;
    position: relative;
}

.btn:hover {
    color: #D9D3B4;
    background-color: #235459;
}

.btn i {
    line-height: 40px;
    font-size: 26px;
    transition: 0.2s linear;
}

.btn-outline-primary {
    border-color: transparent;
}

.btn-outline-primary:active {
    color: #235459!important;
    background-color: transparent!important;
}

.btn-portfolio {
    color: #235459;
}

.btn-portfolio:hover {
    color: #235459;
    background-color: transparent;
}

.card-body {
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.center-content {
    display: flex;
    padding-left: 1rem;
    flex-direction: column;
    width: 100%;
    margin: 10% 0;
}

.center-text {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    letter-spacing: 4px;
}

.col-md-4 {
    max-width: 30%;
}

.container {
    text-align: center;
    padding: 10px 20px;
}

.container1 {
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center; 
}

.container h1 {
    margin: 0; 
}

.nav-item a {
    border-bottom: 5px solid transparent;
}

.nav-item a:hover {
    border-bottom: 5px solid #D9D3B4;
}

.nav-item a:active {
    border-bottom: 5px solid #D9D3B4;
}

.nav-link {
    font-family: 'Roboto', sans-serif;
}

.navbar-brand {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    letter-spacing: 3px;
}

.picbox {
    background-color: #235459;
}

.picbox div {
    margin-left: 1rem;
}

.picbox img {
    max-width: 250px;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.picrow-margin {
    margin-left: 25px;
    margin-right: 25px;
}

.polaroid {
    width: 34%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 25px;
    margin-right: 25px;
}

.resume div h2 {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

.text-align-center {
    text-align: center;
}

.text-grey {
    color: #8C8874;
}

.text-light {
    color: #D9D3B4!important;
}

.textboxtb {
    background-color: #235459;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.tb-margin {
    margin-top: 17rem;
    margin-bottom: 17rem;
}