{% extends 'base.html' %} {% load static %} {%block page_content %}
<body id="body-portfolio">
  <div class="center-content">
    <div class="container-fluid">
      <h1 class="center-text big-text" id="text-portfolio">KNOW ME</h1>
      <h1 class="center-text big-text" id="text-portfolio">A LITTLE MORE</h1>
      <br><br>
      <a href="{% url 'tugas:email' %}">
        <button type="button" class="btn btn-outline-primary"><i class="far fa-envelope"></i></button>
      </a>
      <a href="https://www.linkedin.com/in/nabilaayu">
        <button type="button" class="btn btn-outline-primary"><i class="fab fa-linkedin-in"></i></button>
      </a>
      <a href="https://www.behance.net/nabilaayu">
        <button type="button" class="btn btn-outline-primary"><i class="fab fa-behance"></i></i></button>
      </a>
    </div>
  </div>
  <br><br><br><br><br>
  <div class="picbox">
    <div class="d-flex justify-content-center">
        <img src="{% static 'assets/bel.jpg' %}" class="card-img">
        <div class="d-flex align-items-center" id="text-index">
          <div class="flex-column">
              <h4 class="center-text">Hi, I'm Nabila!</h4>
              <h5 id="text-btn-portfolio">UI/UX enthusiast and a perfectly ordinary<br>college student living in Jakarta.</h5>
          </div>
        </div>
    </div>
  </div>
  <div class="resume btn-portfolio">
      <div class="d-flex justify-content-center">
        <h2 class="center-text">RESUME</h2>
      </div>
      <div class="flex-column" id="resume-margin">
          <div class="d-flex" id="text-btn-portfolio" style="margin-bottom: 2rem"> 
              <div class="row">
                <div class="cl-6">
                <div><h4>SKILLS</h4></div>
                </div>
                <div class="cl-6">
                  <div class="flex-column" style="margin-left: 15rem">
                    <div id="bold-text">• Adobe Photoshop, Illustrator, and Experience Design </div>
                    <div id="bold-text">• Java, Python</div>
                  </div>
                </div>
              </div> 
          </div>
          <div class="d-flex" id="text-btn-portfolio" style="margin-bottom: 2rem">
            <div class="row">
              <div class="cl-6">
              <div><h4>EXPERIENCE</h4></div>
              </div>
              <div class="cl-6">
                <div class="flex-column" style="margin-left: 11rem">
                  <div id="bold-text">Staff of Community Service Department</div>
                  <div>BEM Fasilkom UI<br>Feb 2019 - Present</div>
                  <div id="bold-text">Staff of Digital Marketing</div>
                  <div>COMPFEST<br>Feb 2019 - Present</div>
                  <div id="bold-text">Staff of Event Division</div>
                  <div>BETIS 2019<br>Jan 2019 - May 2019</div>
                  <div id="bold-text">Staff of Design Division</div>
                  <div>9th OLIM UI<br>Sep 2018 - Nov 2018</div>
                </div>
              </div>
            </div> 
          </div>
          <div class="d-flex" id="text-btn-portfolio" style="margin-bottom: 2rem"> 
              <div class="row">
                <div class="cl-6">
                <div><h4>EDUCATION</h4></div>
                </div>
                <div class="cl-6">
                  <div class="flex-column" style="margin-left: 11.5rem">
                    <div id="bold-text">University of Indonesia</div>
                    <div>Bachelor’s degree, Computer Science<br>2018 - 2022</div>
                  </div>
                </div>
              </div>
          </div>
          <div class="d-flex" id="text-btn-portfolio" style="margin-bottom: 2rem"> 
              <div class="row">
                <div class="cl-6">
                <div><h4>ACHIEVEMENT</h4></div>
                </div>
                <div class="cl-6">
                  <div class="flex-column" style="margin-left: 9.4rem">
                    <div id="bold-text">Top 10 Finalist, Technovation Arkavidia 5.0</div>
                    <div>Bandung Institute of Technology<br>Feb 2019</div>
                  </div>
                </div>
              </div>
          </div>
          
      <div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
{% endblock %}
