{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>

    <title>Nabila Ayu</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container-fluid">
        <a class="navbar-brand" id="text-portfolio" href="{% url 'tugas:index' %}">NABILA AYU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="nav-link" id="text-portfolio" href="{% url 'tugas:portfolio' %}">PORTFOLIO</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="text-portfolio" href="{% url 'jadwal:jadwal' %}">SCHEDULE</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" id="text-portfolio" href="{% url 'tugas:about' %}">ABOUT</a>
            </li>
        </ul>
        </div>
        </div>
    </nav>
</body>
{% block page_content %} {% endblock %}
</html>
