{% extends 'base.html' %} {% load static %} {%block page_content %}
<body id="body-portfolio">
  <div class="center-content">
    <div class="container-fluid">
      <h2 class="center-text text-grey">You can find me at</h2>
      <h1 class="center-text" id="text-portfolio">NABILADEWANTI@GMAIL.COM</h1>
      <br>
      <a href="{% url 'tugas:email' %}">
        <button type="button" class="btn btn-outline-primary"><i class="far fa-envelope"></i></button>
      </a>
      <a href="https://www.linkedin.com/in/nabilaayu">
        <button type="button" class="btn btn-outline-primary"><i class="fab fa-linkedin-in"></i></button>
      </a>
      <a href="https://www.behance.net/nabilaayu">
        <button type="button" class="btn btn-outline-primary"><i class="fab fa-behance"></i></i></button>
      </a>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
{% endblock %}
