{% extends 'base.html' %} {% load static %} {%block page_content %}
<body id="body-tb">
  <div class="tb-margin">
    <div class="text-align-center" id="text-btn-portfolio">
        <h1 class="big-text" id="text-portfolio">TemanBelajar</h1>
        <h4 id="text-portfolio">Dari Siswa untuk Siswa</h4>
    </div>
  </div>
  <div class="text-align-center textboxtb" id="text-btn-portfolio">
    <p id="text-index"><b>TemanBelajar</b> was the brainchild of an education themed<br>business plan competition. My teammates and I created the idea<br>of a student-to-student tutoring app. Wonderfully, I got the<br>chance to develop the app’s UI and poster.</p>
  </div>
  <div class="d-flex justify-content-center picrow-margin" id="text-btn-portfolio">
    <div class="container-fluid">
    <div class="row">
    <div class="polaroid">
      <img src="{% static 'assets/stack.jpg' %}" alt="5 Terre" style="width:100%">
      <div class="container" id="text-portfolio">
      <p>Posters</p>
      </div>
    </div>
    <div class="polaroid">
      <img src="{% static 'assets/kumpul.png' %}" alt="5 Terre" style="width:100%">
      <div class="container" id="text-portfolio">
      <p>Mascots</p>
      </div>
    </div> 
    <div class="polaroid">
      <img src="{% static 'assets/satu.jpg' %}" alt="5 Terre" style="width:100%">
      <div class="container" id="text-portfolio">
      <p>Front Page</p>
      </div>
    </div> 
    </div>
    </div>
  </div>
  <div id="bottom-color">
    <div class="d-flex justify-content-center" id="bottom-margin">
      <a href="{% url 'tugas:email' %}">
        <button type="button" class="btn btn-outline-primary"><i class="far fa-envelope"></i></button>
      </a>
      <a href="https://www.linkedin.com/in/nabilaayu">
        <button type="button" class="btn btn-outline-primary"><i class="fab fa-linkedin-in"></i></button>
      </a>
      <a href="https://www.behance.net/nabilaayu">
        <button type="button" class="btn btn-outline-primary"><i class="fab fa-behance"></i></i></button>
      </a>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
{% endblock %}